[user]
    name = Oleksandr Tyshkovets
    email = olexandr.tyshkovets@gmail.com
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore_global
    #autocrlf = true
[credential]
    helper = cache --timeout=86400
[diff]
    tool = meld
[difftool]
    prompt = false
[merge]
    tool = meld
	conflictstyle = diff3
[http]
    #proxy = http://79.136.250.38:3128
[alias]
    st = status --branch --short
    ads = !git add . && git st
    plog = log --graph --decorate --oneline -15
    amend = commit --amend --no-edit
    elog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    stsh = stash show -p stash@{0}
    ft = fetch -p
